<!DOCTYPE html>
<html>
<head>
    <title> Parivahan </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"/>
    <style>
        /* Header */
        .large-header {
            position: relative;
            width: 100%;
            background: #333;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            z-index: 1;
        }

        #large-header {
            background-image: url('https://scontent.fdel1-4.fna.fbcdn.net/v/t1.0-9/49343270_371499370278487_3714851887304933376_n.jpg?_nc_cat=102&_nc_ht=scontent.fdel1-4.fna&oh=ad4b31df4c53048c28430b7949101663&oe=5CD3DEC4');
        }


        .container.main{
            margin-top: 7.0em;
        }
        h1{
            margin-top: 3.0em;
            /*font-: white;*/
        }
        .form1{
            width: 400px;
        }
        i.icon{
            font-size: 2.0em;
        }
    </style>
</head>
<body>
<div id="large-header" class="large-header" style="height: 959px;">

<div class="ui fixed inverted menu">
    <div class="ui container">
    </div>

</div>